<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <div
        style="
          overflow: 'auto';
          margin-bottom: 20px;
          margin-top: 20px;
          background-color: 'white';
        "
      >
        <div style="text-align: 'justify'" className="container mx-auto">
          <h1 style="font-size: 30px">Privacy Policy</h1>
          <h2>Last updated: 16th January 2021</h2>
          <p>
            Welcome to pulse.fit (“pulse.fit,” “we,” “us,” or “our”). pulse.fit
            is a personalized and social fitness application and platform.
          </p>
          <p>
            Our Privacy Policy explains how we and some of the companies we work
            with collect, use, share and protect information in relation to our
            mobile services, and upcoming website/other software provided on or
            in connection with pulse.fit services (collectively, the “Service“),
            and your choices about the collection and use of your information.
            By using our Service you understand and agree that we are providing
            a platform for you to share information about you, including private
            information about you (e.g. gender, age group) and public
            information (“User Content“). This means that other Users may search
            for, see, use, or share any of your User Content that you explicitly
            make publicly available through the Service, consistent with the
            terms and conditions of this Privacy Policy and our Terms of
            Service. Our Policy applies to all visitors, users, and others who
            access the Service (“Users“).
          </p>
          <h2>We collect the following types of information.</h2>
          <h3>Information you provide us directly:</h3>
          <p>Information from social login services</p>
          <p>
            Basic profile information that you provide for your user profile
            including name, username, password, profile picture, gender, and age
            group. This information allows us to help you or others be “found”
            on pulse.fit, and helps us secure and provide you with access to our
            services.
          </p>
          <p>
            User Content (e.g., posts, comments) that you post to the Service.
          </p>
          <p>
            Your contacts’ information which you can choose to add by connecting
            your contacts from your mobile device or social networking accounts
            to pulse.fit. If you choose to share your contacts with pulse.fit,
            pulse.fit will, in accordance with your instructions, access and
            store your contacts’ information in order to identify connections
            and help you connect with them.
          </p>
          <p>
            Communications between you and pulse.fit. For example, we may send
            you Service-related emails (e.g., account verification,
            changes/updates to features of the Service, technical and security
            notices). Note that you may not opt out of Service-related emails.
          </p>
          ​
          <h3>Activity information:</h3>
          <p>
            We collect information on your workout activity (e.g. date, time,
            rep counts, pace, score) in order to measure your progress, display
            performance statistics, personalize workout content in real time,
            personalize workout recommendations, and enable competition with
            other users. This information is accessible to other users for the
            sake of competition, and determining user standing on public
            leaderboards. It will not be directly visible to other users, aside
            from the score which determines standing. You may opt out of
            competition and public leaderboards at any time.
          </p>
          <h2>Health information</h2>
          <p>
            pulse.fit may collect or infer health information. Certain health
            information may be inferred from sources such as heart rate or other
            information about your perceived exertion, including power, cadence,
            height and weight or other indicators. Before you can upload health
            information to pulse.fit, you must give your explicit consent to the
            processing of that health information by pulse.fit. You can withdraw
            your consent to pulse.fit processing your health information at any
            time.
          </p>
          <h2>Location information</h2>
          <p>
            When you use our services we may collect information about your
            location for the purposes of recording workout performance metrics.
            With your permission, we may also collect information about your
            precise location using methods that include GPS, wireless networks,
            cell towers, Wi-Fi access points, and other sensors, such as
            gyroscopes, accelerometers, and compasses
          </p>
          <h2>Cookies, log file and similar technologies:</h2>
          <p>
            When you visit the Service, we may use cookies and similar
            technologies like pixels to collect information about how you use
            pulse.fit and provide features to you. We may ask advertisers or
            other partners to serve ads or services to your devices, which may
            use cookies or similar technologies placed by us or the third party.
          </p>
          <h2>Device identifiers:</h2>
          <p>
            When you use a mobile device like a tablet or phone to access our
            Service, we may access, collect, monitor, store on your device,
            and/or remotely store one or more “device identifiers.” Device
            identifiers are small data files or similar data structures stored
            on or associated with your mobile device, which uniquely identify
            your mobile device. A device identifier may be data stored in
            connection with the device hardware, data stored in connection with
            the device’s operating system or other software, or data sent to the
            device by pulse.fit. A device identifier may deliver information to
            us or to a third party partner about how you browse and use the
            Service and may help us or others provide reports or personalized
            content and ads. Some features of the Service may not function
            properly if use or availability of device identifiers is impaired or
            disabled.
          </p>
          ​
          <h2>Third party software development kits:</h2>
          <p>
            We use third party software development kits (“SDKs”), such as the
            Apple HealthKit SDKs, as part of the functionality of our Services.
            If you choose to link your pulse.fit account with such applications,
            you can decide to transfer certain personal information, such as
            your gender, date of birth, heart rate, height, and weight from the
            health related applications to pulse.fit. If you make this election,
            this information may be used by pulse.fit to update your pulse.fit
            User Profile and track your metrics in pulse.fit classes. You may
            opt-out of tracking at any time by configuring your privacy settings
            on such applications. Your interactions with SDKs or other health
            applications are governed by the privacy policy of the company
            providing the service.
          </p>
          <h2>Analytics information:</h2>
          ​
          <p>
            We use third-party analytics tools to help us measure traffic and
            usage trends for the Service. These tools collect information sent
            by your device or our Service, including the pages you visit,
            add-ons, and other information that assists us in improving the
            Service. We collect and use this analytics information with
            analytics information from other Users so that it cannot reasonably
            be used to identify any particular individual User. We may collect
            visual data such as in-workout depth information in order to improve
            our tracking technology and identify bugs. The data cannot be used
            to identify the user and will not be shared with any third-party
            providers.
          </p>
          <h2>HOW WE USE YOUR INFORMATION</h2>
          <p>
            In addition to some of the specific uses of information we describe
            in this Privacy Policy, we may use information that we receive to:
            help you efficiently access your information after you sign in
            remember information so you will not have to re-enter it during your
            visit or the next time you visit the Service; provide, improve,
            test, and monitor the effectiveness of our Service develop and test
            new products and features monitor metrics such as total number of
            visitors, traffic, and demographic patterns diagnose or fix
            technology problems automatically update the pulse.fit application
            on your device provide personalized content and information to you
            and others ​ We do not use health information for advertising,
            marketing, or use-based data mining purposes. We do not share health
            information that we collect within pulse.fit or from SDKs or other
            health-related applications with third parties for their
            advertising, marketing, or use-based data mining purposes.
          </p>
          <h2>SHARING OF YOUR INFORMATION</h2>
          <p>
            We will not rent or sell your information to third parties outside
            pulse.fit without your consent, except as noted in this Policy.
          </p>
          <h2>Parties with whom we may share your information:</h2>
          <p>
            We may share your information as well as information from tools like
            cookies, log files, anonymous session recordings, and device
            identifiers and location data, with third-party organizations that
            help us provide the Service to you (“Service Providers”). Our
            Service Providers will be given access to your information as is
            reasonably necessary to provide the Service under reasonable
            confidentiality terms. We may remove parts of data that can identify
            you and share anonymized data with other parties. We may also
            combine your information with other information in a way that it is
            no longer associated with you and share that aggregated information.
          </p>
          <h2>Parties with whom you may choose to share your User Content:</h2>
          <p>
            Subject to your profile and privacy settings, any User Content that
            you make explicitly public is searchable by other Users. If you
            remove information that you posted to the Service, copies may remain
            viewable in cached and archived pages of the Service, or if other
            Users or third parties using the pulse.fit API have copied or saved
            that information.
          </p>
          <h2>Responding to legal requests and preventing harm:</h2>
          <p>
            We may access, preserve and share your information in response to a
            legal request (like a search warrant, court order or subpoena) if we
            have a good faith belief that the law requires us to do so. This may
            include responding to legal requests from jurisdictions outside of
            India where we have a good faith belief that the response is
            required by law in that jurisdiction, affects users in that
            jurisdiction, and is consistent with internationally recognized
            standards. We may also access, preserve and share information when
            we have a good faith belief it is necessary to: detect, prevent and
            address fraud and other illegal activity; to protect ourselves, you
            and others, including as part of investigations; and to prevent
            death or imminent bodily harm. Information we receive about you may
            be accessed, processed and retained for an extended period of time
            when it is the subject of a legal request or obligation,
            governmental investigation, or investigations concerning possible
            violations of our terms or policies, or otherwise to prevent harm.
          </p>
          <h2>HOW WE STORE YOUR INFORMATION</h2>
          <h3>Storage and Processing:</h3>
          <p>
            Your information collected through the Service may be stored and
            processed in India or any other country in which pulse.fit, its
            Affiliates or Service Providers maintain facilities. pulse.fit, its
            Affiliates, or Service Providers may transfer information that we
            collect about you, including personal information across borders and
            from your country or jurisdiction to other countries or
            jurisdictions around the world. If you are located in the European
            Union or other regions with laws governing data collection and use
            that may differ from Indian law, please note that we may transfer
            information, including personal information, to a country and
            jurisdiction that does not have the same data protection laws as
            your jurisdiction. By registering for and using the Service you
            consent to the transfer of information to India or to any other
            country in which pulse.fit, its Affiliates or Service Providers
            maintain facilities and the use and disclosure of information about
            you as described in this Privacy Policy. We use commercially
            reasonable safeguards to help keep the information collected through
            the Service secure and take reasonable steps to verify your identity
            before granting you access to your account. However, we cannot
            ensure the security of any information you transmit to us or
            guarantee that information on the Service may not be accessed,
            disclosed, altered, or destroyed. Please do your part to help us.
            You are responsible for maintaining the secrecy of your account
            information, and for controlling access to emails between you and
            pulse.fit, at all times. Your privacy settings may also be affected
            by changes the social media services you connect to pulse.fit make
            to their services. We are not responsible for the functionality,
            privacy, or security measures of any other organization.
          </p>
          <h2>YOUR CHOICES ABOUT YOUR INFORMATION ​</h2>
          <h3>Your account information and profile/privacy settings:</h3>
          <p>
            Update your account at any time by logging in and changing your
            profile settings.
          </p>
          <p>
            Unsubscribe from email communications from us by clicking on the
            “unsubscribe link” provided in such communications. As noted above,
            you may not opt out of Service-related communications (e.g., account
            verification, purchase and billing confirmations and reminders,
            changes/updates to features of the Service, technical and security
            notices).
          </p>
          <h3>How long we keep your User Content:</h3>
          <p>
            Following termination or deactivation of your account, pulse.fit,
            its Affiliates, or its Service Providers may retain information
            (including your profile information) and User Content for a
            commercially reasonable time for backup, archival, and/or audit
            purposes.
          </p>
          <h3>How to access or delete your information:</h3>
          <p>
            If you would like to access, update, or delete any information we
            have about you, or exercise any right you might have, please send an
            email to support@pulse.fit with your request.
          </p>
          <h2>CHILDREN’S PRIVACY</h2>
          ​
          <p>
            pulse.fit does not knowingly collect or solicit any information from
            anyone under the age of 13 or knowingly allow such persons to
            register for the Service. The Service and its content are not
            directed at children under the age of 13. In the event that we learn
            that we have collected personal information from a child under age
            13 without parental consent, we will delete that information as
            quickly as possible. If you believe that we might have any
            information from or about a child under 13, please contact us. For
            EU, the age limit is 16 due to GDPR.
          </p>
          <h2>OTHER WEB SITES AND SERVICES ​</h2>
          <p>
            We are not responsible for the practices employed by any websites or
            services linked to or from our Service, including the information or
            content contained within them. Please remember that when you use a
            link to go from our Service to another website or service, our
            Privacy Policy does not apply to those third-party websites or
            services. Your browsing and interaction on any third-party website
            or service, including those that have a link on our website, are
            subject to that third party’s own rules and policies. In addition,
            you agree that we are not responsible and do not have control over
            any third-parties that you authorize to access your User Content. If
            you are using a third-party website or service and you allow them to
            access your User Content you do so at your own risk.
          </p>
          <h2>HOW TO CONTACT US</h2>
          ​
          <p>
            If you have any questions about this Privacy Policy or the Service,
            please find the appropriate support information on the website or
            reach out to us at support@pulse.fit
          </p>
          <h2>CHANGES TO OUR PRIVACY POLICY</h2>
          ​
          <p>
            pulse.fit may modify or update this Privacy Policy from time to
            time, so please review it periodically. We may provide you
            additional forms of notice of modifications or updates as
            appropriate under the circumstances. Your continued use of pulse.fit
            or the Service after any modification to this Privacy Policy will
            constitute your acceptance of such modification. ​
          </p>
          ​ ​
        </div>
      </div>
    </section>
  </body>
</html>
