commands:
  01_swapmem_step:
    command: sudo /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024
    ignoreErrors: true
    test: test ! -f .swapmem
  02_swapmem_step:
    command: sudo /sbin/mkswap /var/swap.1
    ignoreErrors: true
    test: test ! -f .swapmem
  03_swapmem_step:
    command: sudo chmod 600 /var/swap.1
    ignoreErrors: true
    test: test ! -f .swapmem
  04_swapmem_step:
    command: sudo /sbin/swapon /var/swap.1
    ignoreErrors: true
    test: test ! -f .swapmem
  05_flag_swapmem:
    command: touch .swapmem